body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
}

h1 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60vw;
}

div {
  margin-bottom: 20px;
}
